body{
	background-position: center center;
	margin:0;
	background-size: cover;
	background-color: Linen;
} 
html{
	height:100%;
}
#d1{
	 display: flex;
	 justify-content: space-around;
	 gap: 10px 5px;
	 flex-direction: column;
	 flex-wrap: wrap;
	 align-items: center;
}

#d2{
	margin-top: 10px;
	border: 1px solid Gainsboro;
    width: 550px;
    height: 350px;
    background: GhostWhite;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#d3{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 flex-wrap: wrap;
}

#h1{
	font-family: "Lucida Handwriting", Cursive;
	color: Crimson;
	background-color: LightCoral;
	border-radius: 7px;
		width: 200px;
}
#h2{
	font-family: "Lucida Handwriting", Cursive;
	color: MediumSeaGreen;
	background-color: PaleGreen;
	border-radius: 7px;
		width: 200px;
}
#n{
	font-family: "Lucida Handwriting", Cursive;
	border-radius: 7px;
}
#btn, #in{
	font-family: "Lucida Handwriting", Cursive;
	border-radius: 5px; 
	border: none;
	font-size: 20px;
	padding: 15px 32px;
	background-color: #FFA07A;
	width: 150px;
 }
#in{
	width: 300px; 
}
#h{
	font-family: "Lucida Handwriting", Cursive;
	text-align: center;
	margin-top: 135px
}
#sel{
	font-family: "Lucida Handwriting", Cursive;
	border-radius: 5px; 
	border: none;
	font-size: 20px;
	background-color: #FFA07A;
}