body{
	background-image: url("../img/12.jpg");
	background-position: center center;
	margin:0;
	background-size: cover;
	background-color: #150B02;
} 
html{
	height:100%;
}
#d1{
	 display: flex;
	 justify-content: space-evenly;
	 flex-wrap: wrap;
	 gap: 10px 10px;
	 align-items:center;
}
#i1,#i2{
	height:360px;
	width:480px;
	border: 0;
	padding: 0px;
 }
#d2, #d3{
	 display: flex;
	 justify-content: space-evenly;
	 flex-wrap: wrap;
	 gap: 0px 10px;
	 align-items:center;
}
#btn, #btn1{
	font-family: "Lucida Handwriting", Cursive;
	border-radius: 5px; 
	border: none;
	font-size: 20px;
	padding: 15px 32px;
	background-color: #006400;
		width: 360px;
 }

@media screen and (max-width: 1200px) {
	#d1{flex-direction: column;}
	#d2{flex-direction: column;}
}
/* #h3,#h4{
	width:500px;

} */
#h2, #h3, #h4{
	font-family: "Lucida Handwriting", Cursive;
	color: #FAFAD2;
	border-style: solid hidden solid hidden;
	width: 360px;
	text-align: center;
}